h2, h3 {

    text-align: center;
    display: inline-block;
    background-color: rgba(59, 36, 21, 0.8);
    padding: 10px 20px;
    border-radius: 5px;
    margin-bottom: 20px;

}

ul {

    list-style: none;

}

li {

    margin: 15px 20px;

}

img {
    display: block;
    margin: 0 auto;
}